

.message-box{
  top: "100%"; 
  left: "50%";
  transform: "translateX(-50%)";
  backgroundColor: "#f8f9fa";
  color: "#343a40";
  padding: "10px";
  borderRadius: "5px";
  boxShadow: "0 4px 8px rgba(0, 0, 0, 0.2)";
  marginTop: "5px";
  zIndex: 1000;
  whiteSpace: "nowrap"; 
}

.responsive-image {
  max-width: 100px;
  height: auto;
}

.small-text {
  font-size: 13px;
}
.very-small-text{
  font-size:12px
}
.medium-text{
  font-size:18px
}
.text-gray{
  color:gray;
}

.image-hover:hover {
  background-color: #007bff; /* Change background color on hover */
   /* Optional: Slightly scale the image */
   cursor: pointer;
}

.link-hover-orange {
  color: gray; /* Initial color */
  transition: color 0.3s; /* Smooth transition */
}

.link-hover-orange:hover {
  color: orange; /* Color when hovered */
}

.bg-light-green {
  background-color: #f0fff0; /* Light green color */
}

.custom-dimensions {
  width: 550px;
  height: auto;
}
.custom-dimensions2{
  width: 600px;
  height: auto
}

.bg-orange{
  background-color:orange;
}

.orange-color {
  color: orange;
}
.bg-red{
  background:#000;
}